body {

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
   
    color: #ffffff;
    text-transform: capitalize;
    
    width: auto;
    background-position: top center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}
p {
    cursor: default;
}
h1 {
    cursor: default;
}
h2 {
    cursor: default;
}
h3 {
    cursor: default;
}
article {
    cursor: default;
}
object {
    cursor: pointer;
}

/* HEADER */

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: #f3f7f8;
   
    height: 320px;
   
}
.top-wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    background: #293449; 
    
    min-height: 42px;
    width: 1200px;
}
.top-area {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    font: inherit;
    font-size: 17px;
    line-height: 18px;
    
    background: #293449; 
    min-height: 42px;
    width: 940px;

    margin: 0;
}

.main-header-logo {
    display: flex;
    align-items: center;
    justify-content:center;

    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    
    
    padding: 0px 0px 0px 0px;
    background-color: #ff5357;
    box-shadow: 0px 5px 0px 0px #c23f42; 

    height: 42px;
    width: 220px;
}

.main-header-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px 0px #9a212a; 
}

.main-header-logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px 0px #8e1e26; 
}
.top-area form {
    display: flex;
    align-items: center;
    justify-content:center;

    padding-left: 16px;
    padding-right: 30px;
}
.top-area form::before {
   content: "";
   background-color: #293449;
   width: 17px;
   height: 17px;
   background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQflDAMPISt2Z8ngAAAA2klEQVQoz33SsU4CQRAA0LdE7kg4ctGChtDxCdIQY/x0C2ODn0AH11AYLp6JByRrsUY8IcyU87Iz2ZkQgWBqotR3UKus/RQIEUbuFf5G483HiYw8uNFa2WrlxmZyRy8JhRg8Kbxb2v++kZm703gW6ZkqtB3A3lKrMIWeCVYdkNAKk0RKbJ3HFmUifbQXSIu+QM8B+QWS45jGrTG+QMbYpUYVZrJ/IDNDlchaIzfvoMxcrrG5/rt8evV1bUfBMKFwtumjncpGZpFQiN0xw+kIDCwM1eK1HMTHePsNbcZanmpbZu4AAAAASUVORK5CYII=");
}
.top-area form:hover::before {
    background-color:#212a3a;
}
.top-area form:active::before {
    background-color:#ffffff;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAUVBMVEXuNkP////uNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkMAAAAt6NVeAAAAGXRSTlMAAARlvO4q2PHncigQxBMC8r5k1gbcHM03AdpWagAAAAFiS0dEGnVn5DIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfmBAoJNTVtpymBAAAAgElEQVQY02XPiwqAIAwF0OUzH2VP6/7/jzaTguyCIofhNiIiIZWGVlLwmzo+xqLGmiqmh/MhBu/QmyLCYhhLOY0DrGCRcBWYHCSLgqcnHopFI7wSoFmA+EoEUlsz/f6Zf72Wdp51a2bGnr97rTtTkbr7NC9bLvS0SffNdNA3+Tgv8mEI8waPDuwAAAAASUVORK5CYII=");
}
.top-area form:focus {
    background-color:#ffffff;
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAUVBMVEXuNkP////uNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkPuNkMAAAAt6NVeAAAAGXRSTlMAAARlvO4q2PHncigQxBMC8r5k1gbcHM03AdpWagAAAAFiS0dEGnVn5DIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfmBAoJNTVtpymBAAAAgElEQVQY02XPiwqAIAwF0OUzH2VP6/7/jzaTguyCIofhNiIiIZWGVlLwmzo+xqLGmiqmh/MhBu/QmyLCYhhLOY0DrGCRcBWYHCSLgqcnHopFI7wSoFmA+EoEUlsz/f6Zf72Wdp51a2bGnr97rTtTkbr7NC9bLvS0SffNdNA3+Tgv8mEI8waPDuwAAAAASUVORK5CYII=");
}
.top-area [type="search"] {
    box-sizing: border-box;
    width: 200px;
    min-height: 42px;
    padding-bottom: 0px;
    padding-left: 0px;
    
    font: inherit;
    color: black;
    font-size: 17px;
    line-height: auto;
    text-transform: none;
    margin-left: 10px;
   
    background-color: #293449;
    border: none;
   
    outline: none;

    margin: 0px 0px 0px 10px;
}

.top-area form:hover {
    background-color:#212a3a;
}
.top-area form:hover .search {
    background-color:#212a3a;
}
.top-area form:hover object {
    background-color:#212a3a;
}
.top-area form:active {
    background-color:#ffffff;
}
.top-area form:active .search {
    background-color:#ffffff;
    outline: none;
}

.bookmark {
    display: flex;
    align-items: center;
    justify-content:center;

    font: inherit;
    color: #ffffff;
    padding-right: 23px;
    padding-left: 23px;
    margin-left: 0px;
    margin-right: 0px;
}
.bookmark object{
    margin-right: 13px;
    padding-bottom: 5px;
}

.top-area .bookmark:hover { 
    background:#212a3a;
}
.top-area .cart:hover {
    background:#212a3a;
}
.top-area .bookmark:active {
    color: #a2a5a9;
    background:#161d29;
}
.top-area .cart:active {
    color: #a2a5a9;
    background:#161d29;
}
.cart {
    display: flex;
    align-items: center;
    justify-content:stretch;

    font: inherit;
    color: #ffffff;
    padding-top: 0px;
    margin-left: 0px;
    padding-right: 23px;
    padding-left: 23px;
}

.cart object{
    margin-right: 17px;
    padding-bottom: 5px;
}
    /* some B U T T O N S */

.button-green {
    display: block;
  
    font: inherit;
    color: #ffffff;
    text-transform: none;
     
    background-color: #63a63e;
 
    padding: 10px 20px 0px 20px;
    margin-left: 0px;
}

.button-green:hover {
    background-color:#5fbb2d;
}

.button-green:active {
    background-color:#518534;
}
.form-wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 280px;
}

.button-client {
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 130px;
    margin: 0px 0px 30px 0px;
    min-height: 45px;
}

.button-client button {
   
    font: inherit;
    font-size: 21px;
    line-height: 18px;
    background-color: transparent;
    text-transform: none;

    border-style: none;
    cursor: pointer;
}
.button-client- button {
   
    font: inherit;
    font-size: 21px;
    line-height: 18px;
    background-color: transparent;
    text-transform: none;

    border-style: none;
    cursor: pointer;
}
.button-signin {
    width: 150px;
    padding: 0px 0px 0px 0px; 
}

.button-enter {
    position: relative;
    color: #000000;

    width: 120px;
    padding: 0px 0px 0px 20px;
}
.button-enter::before {
    position: absolute;
    content: "";

    width: 20px;
    height: 17px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAMAAADqmnyMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEUAAAAyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwyQlwAAACYSTiQAAAAFnRSTlMAlwEQ+KUPnwOeBknzsroKv8nSFar0XmU87AAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfmAR8VBhqIBgMhAAAAYElEQVQY043QWQ6AIAwE0CqCu7jO/Y8qIkU0DXE+CHlpoC2RT1G6Q+FKpc1thLphBFpG6C5cewwRMQZ19Q9isgJiNoxIshgBsW4CYv9ZGd9UPp/f831KEyWzH7ktvfd5Atv5Dj0CR321AAAAAElFTkSuQmCC");
   
    opacity:0.3;
    left: 15px;
}

.button-enter:hover::before {
    color: #ee3643;
    opacity:1;
}
.button-enter:active::before {
    color: #000000;
    opacity:0.3;
}

.button-client button:hover {
    color: #ee3643;
    opacity:1;
}
.button-client button:active {
    color: #000000;
    opacity:0.3;
}
.red-button {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;

    width: 253px;
    min-height: 38px;
    margin-right: 24px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;

}
.red-button:hover {
    background-color: #ca2c37;
}
.red-button:active {
    background-color: #ba2732;
}
.red-button1 {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;

    width: 220px;
    min-height: 38px;
    margin-right: 24px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}
.red-button1:hover {
    background-color: #ca2c37;
}
.red-button1:active {
    background-color: #ba2732;
}
.red-button2 {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;

    width: 300px;
    min-height: 38px;
    margin-right: 24px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}
.red-button2:hover {
    background-color: #ca2c37;
}
.red-button2:active {
    background-color: #ba2732;
}
/* cart's green buttons */
.green-buy {
    display: flex;
    align-items: center;
    justify-content:center;
    
    font: inherit;
    color: #ffffff;
    text-transform: none;
    
    background-color: #63a63e;
    width: 150px;
    min-height: 38px;

    box-shadow: 0px 3px 0px 0px #367315; 
    border-radius: 3px 3px 3px 3px;

    padding: 4px 0px 0px 0px;
    margin: 45px 0px 7px 0px;
}

.green-buy:hover {
    background-color:#5fbb2d;
}

.green-buy:active {
    background-color:#518534;
}

.button-bookmark {
    font: inherit;

    color: #32425c;
    text-align: center;
    background-color: #ffffff;
    
    border-color: #63a63e;
    width: 150px;
    height: 42px;
    margin: 0px;
    cursor: pointer;

    border-style: solid; 
    border-radius: 3px 3px 3px 3px;
}

.button-bookmark:hover {
    border-color: #32425c;
}
.button-bookmark:active {
    border-color: #32425c;
    opacity:0.3;
}
/* further header */


.middle-area {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    width: 940px;
    height: 158px;
}
   
.middle-area .text-cite-about{
    margin-left: 53px;
}

.text-cite-about {
    text-transform: none;
    color: #ff5357;
    font: "Cuprum";
    font-style: Italic;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.middle-area .phone-adress {
    margin-top: 18px;
    width: 270px;
    height: 68px;
}

.middle-area .address {
    color: #3d546e;
    font: "Cuprum";
    font-style: Regular;
    
}
.phone-adress {
    
    margin-top: 0px;
    margin: 0px;
}

.phone-number  {
    font: inherit;
    box-sizing: content-box;

    color: #ff5357;
    font-size: 21px;
    line-height: 18px;

    border: 3px solid #ffffff;
    padding-left: 13px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 7px;
    
}
.phone-number object {
    padding-right: 40px;
    
}
.phone-adress p {
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.site-navigation {
    display: flex;
   
    justify-content: space-between;
    align-items:center;

    list-style: none;
    background: #32425c; 
    box-shadow: 0px 6px 0px 0px #293449; 
    text-align: center;
    height: 60px;
    width: 940px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}


.site-navigation a {

    font-family: "Cuprum";
    font-style: regular;

    color:#f3f7f8;
    font-size: 17px;
    line-height: 17px;

    background: #32425c;
    padding:  19px 33px 22px 34px;
}

.site-navigation a:hover {
    background: #293449;
}

.site-navigation a:active {
    color:#868c95;
    background: #1d2739;
}


/* M A I N */
/* P R O P O S I T I O N S */

.propositions {
    display: flex;
    justify-content: center;
   
    margin-top: 60px;
    
}

.list-propositions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

    width: 940px;
    max-height: 410px;

    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.list-propositions li {
    position: relative;
    flex-basis: 300px;
    min-height: 123px;
}

.list-propositions h3 {
    font: inherit;
    text-transform: none;

    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding-left: 23px;
    margin: 20px 0px 10px 0px;

}

.list-propositions .materials, 
.list-propositions .tools, 
.list-propositions .technics, 
.list-propositions .discounts,
.list-propositions .delivery {
    z-index: 1;
}


.list-button {
    position: absolute;
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
  
    left: 45px;
    top: 72px;
} 
.list-button::after {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
  
    width: 135px; 
    height: 38px; 
 
    margin-left: -110px;
    margin-top: -10px;
    z-index: -1;
    opacity: 0.1;
}
.list-button:hover::after {
    opacity: 0.15;
}
.list-button:active::after {
    opacity: 0.2;
}

.list-button-2 {
    position: absolute;
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
  
    left: 52px;
    top: 72px;
} 
.list-button-2::after {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
  
    width: 135px; 
    height: 38px; 
 
    margin-left: -110px;
    margin-top: -10px;
    z-index: -1;
    opacity: 0.1;
}
.list-button-2:hover::after {
    opacity: 0.15;
}
.list-button-2:active::after {
    opacity: 0.2;
}

.list-button-3 {
    position: absolute;
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
  
    left: 52px;
    top: 72px;
} 
.list-button-3::after {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
  
    width: 135px; 
    height: 38px; 
 
    margin-left: -105px;
    margin-top: -10px;
    z-index: -1;
    opacity: 0.1;
}
.list-button-3:hover::after {
    opacity: 0.15;
}
.list-button-3:active::after {
    opacity: 0.2;
}

.list-button-4 {
    position: absolute;
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
  
    left: 46px;
    top: 72px;
} 
.list-button-4::after {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
  
    width: 135px; 
    height: 38px; 
 
    margin-left: -113px;
    margin-top: -10px;
    z-index: -1;
    opacity: 0.1;
}
.list-button-4:hover::after {
    opacity: 0.15;
}
.list-button-4:active::after {
    opacity: 0.2;
}
.list-button-5 {
    position: absolute;
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
  
    left: 58px;
    top: 72px;
} 
.list-button-5::after {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
  
    width: 135px; 
    height: 38px; 
 
    margin-left: -98px;
    margin-top: -10px;
    z-index: -1;
    opacity: 0.1;
}
.list-button-5:hover::after {
    opacity: 0.15;
}
.list-button-5:active::after {
    opacity: 0.2;
}

.materials {
    order:0;

    background-image: url(../img/materials.jpg);
    background-repeat: no-repeat;
    margin-left: 0px;
}
.tools {
    order:0;

    background-image: url(../img/tools.jpg);
    background-repeat: no-repeat;
    margin-left: 20px;
}
.technics {
    order:0;

    background-image: url(../img/technics.jpg);
    background-repeat: no-repeat;
    margin-left: 20px;
}
.discounts {
    order:0;
  
    background-image: url(../img/discounts.jpg);
    background-repeat: no-repeat;
    max-height: 123px;
    margin-left: 0px;
    margin-top: 20px;
   
}
.delivery {
    order:0;

    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    margin-left: 640px;
    margin-top: -123px;
    
}
.current-tool {
    display: flex;
    flex-direction: column;

    background-image: url(../img/current-tool.jpg);
    background-repeat: no-repeat;
    min-width: 620px;
    height: 266px;
    margin: 20px 20px 0px 0px;
    padding: 0px;
}
.list-propositions h1 {
    font-size: 28px;
    line-height: 18px;
    margin: 30px 0px 0px 20px;
}
.current-tool article {
    font: inherit;
    text-transform: none;
    font-weight: 10;

    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0px 0px 20px;
}
.current-tool .red-button-2 {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;

    width: 180px;
    min-height: 38px;
    margin: 0px 84px 0px 20px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;
}
.red-button-2:hover {
    background-color: #ca2c37;
}
.red-button-2:active {
    background-color: #ba2732;
}

.current-tool .sim-slider{
    display: flex;
    justify-content: space-around;
    margin: 45px 0px 0px 0px;
}
.sim-slider div:hover {
    cursor: pointer;
}
.sim-slider div:active {
    cursor: pointer;
    opacity: 0.5;
}
.sim-slider .arrow-left {
    width: 25px;
    height: 25px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    margin-right: 220px;
    transform: rotate(-135deg);
}

.sim-slider .arrow-right {
    width: 25px;
    height: 25px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    margin-left: 220px;
    transform: rotate(+45deg);
}
.current-tool .wrapper {
    display: flex;
    flex-direction: row;
    
    align-items:center;
    margin: 55px 0px 0px 0px;
}
.current-tool input  {
    accent-color: #ff5357;
    margin: 0px 0px 0px 10px;
}

/* P O P U L A R S tools */

.populars h2 {
    font: inherit;
    color: #3d546e;
    font-size: 30px;
    line-height: 30px;

    margin-left: 30px;
}

.populars {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
    min-height: 952px;
    width: auto;
}

.populars-goods {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
    background-color: #f9f5f0;
    width: 940px;
    min-height: 90px;
}
.popular-manufacturer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
    background-color: #f9f5f0;
    width: 940px;
    min-height: 90px;
    margin-top: 22px;
}

.list-populars-goods {
  
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    width: 940px;
    margin-top: 20px;
    padding-left: 0px;
}

.tool {
    position: relative;

    display:flex;
    flex-direction: column;
    align-items:center;

    text-align: center;
    font: inherit;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

    cursor: pointer;
    
    border: 1px solid #eaeaea;
    margin-top: 20px;
    z-index: 1;
}
.cart-buy {
    position: absolute;
    visibility: visible;
    flex-direction: column;
    align-items: center;

    background-color: transparent;

    width: 219px;
    min-height: 331px;
    margin-top: 0px;

    z-index: -1;
}

.tool:hover .cart-buy {
    z-index: +1;
    box-shadow: 0px 1px 30px 5px #a9a9a9;
} 


.item-name  {
    margin: 0px;
}

.item-price {
    font: PTSans;

    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    margin: 13px 0px 13px 0px;
}

.red-buy {
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;

    width: 141px;
    min-height: 38px;
    margin-bottom: 21px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;
}

/* pop up little */

.cart-buy form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 218px;
    min-height: 187px;
}
/* P O P U L A R S brands */
.list-popular-manufacturer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    width: 940px;
    margin-top: 20px;
    padding-left: 0px;
}

.list-popular-manufacturer li {
    border: 1px solid #eaeaea;
    margin-top: 20px;
}

/* ALL S E R V I C E S */

.all-services {
    display: flex;
    justify-content: center;

    background: #f3f7f8;
    width: 100%;
    min-height: 546px;
    margin-top: 85px;
}

.serv-wrapper {
    display: flex;
    flex-direction: column;
    width: 940px;
}

.serv-wrapper-2 {
    position: relative;

    display: flex;
    margin-top: 90px;
}


/* services's options */

.list-services {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    min-height: 182px;
}

.list-services::after {
    position: absolute;
    content: "";
    background-image: url(../img/shadow.png);
    height: 272px;
    width: 10px;
    left: 230px;
    top: -40px;
}


.list-services li {
    background: #3d546e;

    width: 240px;
    min-height: 60px;
    list-style-type: none;

    margin-top: 0px;
    box-shadow: 0px 1px 0px 0px #293449; 
}
.list-services li:hover {
    background-color: #293449;  
}

.list-services li:active {
    background-color: #ffffff;
    color: #293449;
    box-shadow: 0px 1px 0px 0px #ffffff; 
}

.list-services a {
    display: flex;
    align-items: center;

    font: inherit;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    
    padding-left: 20px;
    padding-top: 15px;
}
.list-services a:active {
    color: #293449;
}
.services {
    display: flex;
    flex-direction: column;
}
.delivery-info {
    z-index: 1;
}
.delivery-info::after {
    position: absolute;
    content: "";
    width: 468px;
    height: 261px;
    background-image: url(../img/delivery.png);

    right: 0px;
    bottom: -100px;
}
.guarantee-info {
    position: absolute;
    left: 240px;
    z-index: -1;
}
.guarantee-info::after {
    position: absolute;
    content: "";
    width: 468px;
    height: 261px;
    background-image: url(../img/guarantee.png);

    right: -400px;
    bottom: -100px;
}
.credit-info {
    position: absolute;
    left: 240px;
    z-index: -2;
}
.credit-info::after {
    position: absolute;
    content: "";
    width: 468px;
    height: 261px;
    background-image: url(../img/credit.png);

    right: -400px;
    bottom: -100px;
}

.services h3 {
    font: inherit;
    color:#000000;
    font-size: 30px;
    line-height: 30px;
    margin-top: 68px;
}

.services p {
    font: inherit;
    text-transform: none;

    color:#000000;
    font-size: 16px;
    line-height: 23px;
    margin: 0px;
}
.guarantee-info h3,
.credit-info h3,
.delivery-info h3 {
    font: inherit;
    color:#3d546e;
    font-size: 30px;
    line-height: 30px;
    padding-left: 80px;
    margin: 0px;
}
.guarantee-info p,
.credit-info p,
.delivery-info p {
    font: inherit;
    text-transform: none;

    color:#000000;
    font-size: 16px;
    line-height: 23px;
    padding-left: 80px;
    margin-top: 34px;
}
.guarantee-showe {
    z-index: 1;
}
.delivery-showe {
    z-index: 1;
}
.delivery-close {
    z-index: -1;
}
.credit-showe {
    z-index: 1;
}


/* COMPANY ABOUT */

.company-about {
    display: flex;
    justify-content: center;

    margin-left: 130px;
    min-height: 536px;
}
.box {
    display: flex;
    justify-content:start;
    min-width: 1060px;
}

.company-about h3 {
    font: inherit;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-top: 82px;
}

.company-about article {
    font: inherit;
    text-transform: none;
    font-size: 15px;
    line-height: 23px;
    color: #000000; 
}

.info-wrapper {
    max-height: 536px;
}
.contacts-wrapper {
    max-height: 536px;
    margin-left: 130px;
}
article ul {
    margin: 28px 0px 40px 0px;
    list-style-type: none;
}
article ul li { 
 position: relative;
 margin-top: 15px;
}

article ul p {
    background-color: transparent;
    font: inherit;
    font-style: bold;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;

    margin: 0px;
}

article p::before {
    content: "";
    position: absolute;
   
    margin-top: 10px;
    left: -30px;
  
    width: 25px;
    height: 2px;
  
    background-color: #ff716f;
}

.info-wrapper form {
    margin-top: 0px;
}

iframe {
    width: 300px;
    height: 158px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* FOOTER */

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

   
    background: #3d546e;
}
.main-header-logo2 {
    display: flex;
    align-items: center;
    justify-content:center;

    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    
    
    padding: 0px 0px 0px 0px;
    background-color: #ff5357;
    box-shadow: 0px 5px 0px 0px #c23f42; 

    height: 63px;
    min-width: 220px;
}

.main-header-logo2:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px 0px #9a212a; 
}

.main-header-logo2:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px 0px #8e1e26; 
}

.first-row {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 193px;
    color:#f3f7f8;
}

.footer-address {
   display: flex;
   
}

.navigation-list-white {
    display: flex;
    flex-direction: row;
   
    list-style-type: none;
    margin: 42px 0px 0px 95px;
    padding: 0px;
   
}
.navigation-list-white a:hover {
    text-decoration: underline;
}
.navigation-list-white a:active {
    opacity: 0.5;
}

.navigation-list-white li {
    display: flex;
    margin: 0px 0px 0px 60px;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
}
.footer-nav .address {
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    min-width: 340px;
    margin: 32px 0px 0px 0px;
}

.navigation-list-yellow {
    display: flex;
    flex-direction: row;
    
   
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
}
.navigation-list-yellow a:hover {
    text-decoration: underline;
}
.navigation-list-yellow a:active {
    opacity: 0.5;
}
.navigation-list-yellow .yellow {
    display: flex;
    flex-direction: row;
   
    margin: 30px 0px 0px 60px;
}
.white a {
    font-family: "Cuprum", Regular;
    color:white;
    font-size: 18px;
    line-height: 24px;
}
.yellow a {
    font: inherit;
    color:#ffda96;
    font-size: 18px;
    line-height: 24px;
}

.second-row {
    display: flex;
    justify-content: center;
    max-height: 107px;
    width: 100%;
    background: #33445a;
    color:#f3f7f8;
    padding: 0; 
    margin: 0;
}
.wrapper-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 940px;
}
.footer-social {
    margin: 0px 0px 0px 115px;
}
.footer-social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    min-width: 125px;
    min-height: 107px;

    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
}

.footer-social li {
    display: flex;
    align-items: center;
   
    margin: 2px;
    min-width: 40px;
    min-height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
}
.footer-social li:hover {
    cursor: pointer;
    background-color: #ee3643;
}
.footer-social li:active {
    background-color: #ee3643;
}
.footer-social a {
    display: flex;
    align-items: center;
}

.footer-social .fb {
    margin-left: 14px;
}
.footer-social .vk {
    margin-left: 6px;
}
.footer-social .insta {
    margin-left: 9px;
}
.feedback {
    margin-left: 70px;
}
.feedback a {
    color: #f1d092;
    text-transform: none;
}
.feedback a:hover {
    text-decoration:underline;
}
.feedback a:active {
    color: #ee3643;
}
.designed a {
    font:inherit;
    color: #f1d092;
    text-transform: none;
}
.designed a:hover {
    text-decoration:underline;
}
.designed a:active {
    color: #ee3643;
}
/* pop up */

.modal {
    position: fixed;
    background-color: #ffffff;
    color: #000000;
    border-top: 7px solid  #ff5357;
    box-shadow: 0 17px 40px rgba(0, 0, 0, 8);
   
    z-index: 1;
  }
  
  .modal-login {
    top: 120px;
    left: 50%;
    
    display: none;

    width: 620px;
    max-height: 423px;
    margin-left: -230px;
    padding: 0px;
  }
  .modal-show {
    display: block;
  }
  
  
  .modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    
    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
  
  .modal-close::before,
  .modal-close::after {
    content: "";
  
    position: absolute;
    top: 19px;
    left: -3px;
  
    width: 30px;
    height: 4px;
   
    background-color: #ee3643;
  }
  
  .modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }
  
  
  .login-form  {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  .Name {
      margin-top: 50px;
      margin-left: 80px;
  }
  .e-mail {
    margin-top: 50px;
   margin-left: 21px;
}
.text {
    margin-top: 22px;
    margin-left: 80px;
}
  .login-form p {
   margin: 0px;
   }
   .login-form label {
    font-family: "Cuprum", Regular;
    color:black;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
   }
  .login-form input[type="Name"],
  .login-form input[type="E-mail"] {
    box-sizing: border-box;
    width: 220px;
    
    padding-left: 12px;
    
    font: inherit;
    color: black;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
    
    background-color: #ffffff;
    border: 2px solid #dee3e4;
    border-radius: 4px 4px 4px 4px;
  }
  .login-form input[type="text"] {
   
    box-sizing: border-box;
    width: 460px;
    min-height: 114px;
    padding-bottom: 100px;
    padding-left: 12px;
    
    font: inherit;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
    
    background-color: #ffffff;
    border: 2px solid #dee3e4;
    border-radius: 4px 4px 4px 4px;
  }
  .zalupa {
      background-color: #f4f4f4;
      padding: 37px;
      margin-top: 37px;
  }
  .zalupa button {
    display: flex;
    justify-content: center;
    align-items:center;
    
    font: inherit;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    
    background-color: #ff5357;
    cursor: pointer;
    width: 460px;
    min-height: 38px;
    margin: auto;
    margin-top: 0px;

    border: 0px;
    border-radius: 3px 3px 3px 3px;
}
.modal-map {
    top: 120px;
    left: 50%;
    margin-left: -320px;
   
    display: none;

    background-color: #ffffff;
    width: 840px;
    height: 840px;
    z-index: 2;
}
.map-show {
    display: block;
}


.modal-map iframe {
    margin: 20px 20px 20px 20px;
    width: 800px;
    height: 800px;
}
.map-close {
    position: absolute;
    top: 0;
    right: -35px;
    
    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
  
  .map-close::before,
  .map-close::after {
    content: "";
  
    position: absolute;
    top: 19px;
    left: -3px;
  
    width: 40px;
    height: 6px;
   
    background-color: #ee3643;
  }
  
  .map-close::before {
    transform: rotate(45deg);
  }
  
  .map-close::after {
    transform: rotate(-45deg);
  }

/* animation */

@keyframes drop {
    0% { transform: translateY(-2000px);}
    70% { transform: translateY(100px);}
    90% { transform: translateY(-30px);}
    100% { transform: translateY(0px);}
}
.modal-show {
    display: block;
    animation-name: drop;
    animation-duration: 0.8s;
}

@keyframes shake {
    0%,  100%                   { transform: translateX(0px); }
    10%,  30%,  50%,  70%, 90%  { transform: translateX(-10px); }
    20%,  40%,  60%,  80%       { transform: translateX(10px); }
}
.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}