body {
    margin: 0;
    padding: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    

    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/* HEADER */
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #f3f7f8;
    height: 320px;
    width: 1200px;
}

.top-area {
    display: flex;
    flex-direction: row;
    justify-content:center;
    
    

    font: inherit;
    font-size: 17px;
    line-height: 18px;
    
    background: #293449; 
    height: 42px;
    width: 1200px;

    margin: 0;
}

.main-header-logo {
    display: flex;
    align-items: center;
    justify-content:center;

    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    
    
    padding: 0px 0px 0px 0px;
    background-color: #ff5357;
    box-shadow: 0px 5px 0px 0px #c23f42; 

    height: 42px;
    width: 220px;
}

.main-header-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px 0px #9a212a; 
}

.header a:active {
    color: #aac39b;
}

.main-header-logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px 0px #8e1e26; 
}
.top-area form {
    display: flex;
    align-items: center;
    justify-content:center;

    margin-left: 16px;
    margin-right: 106px;
}
.search {
    font: inherit;
    
    color: #ffffff;
    background-color: #293449;
    border: none;    
}

.bookmark {
    display: flex;
    align-items: center;
    justify-content:center;

    font: inherit;
    color: #ffffff;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 46px;
}

.icon-bookmark {
    margin-right: 13px;
    padding-bottom: 0px;
}

.bookmark:active {
    color: #999ca1;
}

.cart {
    display: flex;
    align-items: center;
    justify-content:center;

    font: inherit;
    color: #ffffff;
    padding-top: 0px;
    margin-right: 31px;
}
.icon-cart {
    margin-right: 17px;
    padding-bottom: 0px;
}
    /* B U T T O N S */

.button-green {
    display: flex;
    align-items: center;
    justify-content:center;
    

    font: inherit;
    color: #ffffff;
    text-transform: none;
    
    
    background-color: #63a63e;
    width: 150px;
    min-height: 42px;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    

}

.button-green:hover {
    background-color:#5fbb2d;
}

.button-green:active {
    background-color:#518534;
}

.button-green-empty {
    font: inherit;

    color: #32425c;
    text-align: center;
    
    border-color:  #63a63e;
    width: 150px;
    height: 42px;
    margin-left: 15px;
    border-style: solid; 
}

.button-green-empty:hover {
    border-color: #32425c;
}
.button-green-empty:active {
    border-color: #32425c;
    opacity:0.3;
}

.middle-area .button-client {
    width: 282px;
    margin-bottom: 30px;
}

.button-client a {
    color: #000000;

    font: inherit;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    text-transform: none;
    background-color: #ffffff;
}
.button-client {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-right: 0px;
    
    min-height: 45px;
}

.button-client .button-signin {
    width: 150px;
    padding: 14px 0px 0px 0px;
    
}

.button-client .button-enter {
    width: 120px;
    padding: 14px 0px 0px 0px;
}

.button-enter object {
    padding-right: 10px;
}

.button-client a:hover {
    color: #ee3643;
    
}
.button-client a:active {
    color: #000000;
    opacity:0.3;
    background-color: #ffffff;
}

/* further header */


.middle-area {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    width: 980px;
    height: 158px;
}
   
.middle-area .text-cite-about{
    margin-left: 53px;
}

.text-cite-about {
    text-transform: none;
    color: #ff5357;
    font: "Cuprum";
    font-style: Italic;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.middle-area .phone-adress {
    margin-top: 18px;
    width: 270px;
    height: 68px;
}

.middle-area .address {
    color: #3d546e;
    font: "Cuprum";
    font-style: Regular;
    
}
.phone-number  {
    font: inherit;
    box-sizing: border-box;

    color: #ff5357;
    font-size: 21px;
    line-height: 18px;
    border: 3px solid #ffffff;
    padding-left: 13px;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 7px;
    
}
.phone-number object {
    padding-right: 40px;
    
}
.phone-adress p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.site-navigation a {

    font-family: "Cuprum";
    font-style: regular;

    color:#f3f7f8;
    font-size: 17px;
    line-height: 17px;

    background: #32425c;
    padding:  19px 39px 22px 30px;
}

.site-navigation a:hover {
    background: #293449;
}

.site-navigation a:active {
    color:#868c95;
    background: #1d2739;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

    list-style: none;
    background: #32425c; 
    box-shadow: 0px 6px 0px 0px #293449; 
    text-align: center;
    height: 60px;
    width: 980px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

/* M A I N */

.propositions {
    display: flex;
    justify-content:center;
   
    width: 1200px;
}

.list-propositions {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
    justify-content:space-between;

    width: 980px;
    height: 410px;

    margin: 0px;
    padding: 0px;
}

.list-propositions h3 {
    font: inherit;
    text-transform: none;

    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
}

.list-propositions a {
    font: inherit;
    text-transform: none;

    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    background-color: none;
    
    border-radius: 3px 3px 3px 3px;
}

.materials {
    order:0;

    background-image: url(../img/materials.jpg);
    background-repeat: no-repeat;
}
.tools {
    order:0;

    background-image: url(../img/tools.jpg);
    background-repeat: no-repeat;
}
.technics {
    order:0;

    background-image: url(../img/technics.jpg);
    background-repeat: no-repeat;
}
.discounts {
    order:0;
  
    background-image: url(../img/discounts.jpg);
    background-repeat: no-repeat;
}
.delivery {
    order:0;

    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
}
.current-tool {
    order:0;
    
    background-image: url(../img/current-tool.jpg);
    background-repeat: no-repeat;
}



/* FOOTER */
section.first-row {
    background: #3d546e;
    color:#f3f7f8;
}
.white a {
    color:white;
}
.yellow a {
    color:#ffda96;
}
section.second-row {
    background: #33445a;
    color:#f3f7f8;
    padding: 0; 
    margin: 0;
}
.feedback a {
    color:#ffda96;
}
.designed a {
    color:#ffda96;
}